
<h1>All Questions</h1>

<div class="row">
  <div class="medium-10 columns">
    <ol>
      <% @questions.each do |question| %>
        <li class="question-title">
          <%= link_to question.title, question %>
        </li>
        <br>
      <% end %>
    </ol>
  </div>
</div>

<br>

<%- if current_user -%>
  <div class="small radius button"><%= link_to 'New Question', new_question_path %></div>
<%-end-%>
